<section class="modal-overlay" id="overlay">
  <div class="modal" id="modal">
    <div class="modal-header" id="clase-modal-put">
      <h3>Atualizar pokemon</h3>
      <a href="/">X</a>
    </div>

    <div class="modal-body">
      <form
        action="/update/<%= pokemonPut.id %> "
        method="post"
        class="form-modal"
      >
        <div class="input-data">
          <label for="nome">Nome: </label>
          <input
            type="text"
            id="name"
            name="nome"
            value="<%= pokemonPut.nome %>"
          />
        </div>

        <div class="input-data">
          <label for="descricao">Descrição: </label>
          <input
            type="text"
            id="descricao"
            name="descricao"
            value="<%= pokemonPut.descricao %>"
          />
        </div>

        <div class="input-data">
          <label for="tipo">Tipo: </label>
          <input
            type="text"
            id="tipo"
            name="tipo"
            value="<%= pokemonPut.tipo %>"
          />
        </div>

        <div class="input-data">
          <label for="imagem">Link da imagem: </label>
          <input
            type="text"
            id="imagem"
            name="imagem"
            value="<%= pokemonPut.imagem %>"
          />
        </div>

        <div class="btn">
          <button id="btnCadastrat" type="submit">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</section>
