<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head') %>
  </head>
  <body>
    <%- include('./components/nav') %> <% if(message!=""){ %> <%-
    include('./components/alerts') %> <% } %>

    <main>
      <section id="cards">
        <% pokedex.forEach(pokemon => { %>
        <div class="card">
          <img src="<%= pokemon.imagem %> " alt="" />
          <h4><%= pokemon.nome %></h4>
          <p><%= pokemon.descricao %></p>
          <p>Tipo: <%= pokemon.tipo %></p>
          <a href="/getById/<%= pokemon.id %>/put">Editar</a>
          <a class="card--delete" href="/getById/<%= pokemon.id %>/delete"
            >Apagar</a
          >
        </div>
        <% }) %>
      </section>
      <!-- card -->
    </main>

    <% if(pokemonPut != null) { %> <%- include('./components/modalPut') %> <% }
    %> <% if(pokemonDel != null) { %> <%- include('./components/modalDel')%> <%
    } %> <%- include('./components/footer') %>

    <script src="/script/script.js"></script>
  </body>
</html>
