<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head') %>
  </head>
  <body>
    <%- include('./components/nav') %>

    <main>
      <section id="cards">
        <% pokedex.forEach(pokemon => { %>
        <div class="card">
          <img src="<%= pokemon.imagem %> " alt="" />
          <h4><%= pokemon.nome %></h4>
          <p><%= pokemon.descricao %></p>
          <p>Tipo: <%= pokemon.tipo %></p>
          <a href="/detalhes/<%= pokemon.id %> ">Editar</a>
          <a class="card--delete" href="/delete/<%= pokemon.id %> ">Apagar</a>
        </div>
        <% }) %>
      </section>
      <!-- card -->
    </main>
    <section>
      <% if(pokemonPut == null) { %> <%- include('./components/modalPut') %> <%
      } %>
    </section>
    <%- include('./components/footer') %>
  </body>
</html>
